@import url('https://fonts.googleapis.com/css?family=Bokor|Arsenal&display=swap');

/*Configure the tab buttons*/
.sheet-input,
.sheet-display {
    display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="input"] ~ div.sheet-input,
.sheet-tabstoggle[value="display"] ~ div.sheet-display {
    display: block;
}


.mysheet {
    width: 830px;
    height: 630px;
}
.attributes {
    padding: 15px 0px 0px 15px;
}

input[type="hidden"][name="attr_nation"] ~ .mysheet {
    background-color: lightgray;
}
input[type="hidden"][name="attr_nation"][value="US Army"] ~ .mysheet {
    background-color: darkgreen;
}
input[type="hidden"][name="attr_nation"][value="US Marine Corps"] ~ .mysheet {
    background-color: darkblue;
}
input[type="hidden"][name="attr_nation"][value="West Germany"] ~ .mysheet {
    background-color: black;
}
input[type="hidden"][name="attr_nation"][value="Soviet"] ~ .mysheet {
    background-color: red;
}
input[type="hidden"][name="attr_nation"][value="UK"] ~ .mysheet {
    background-color: #101F61;
}



main {
  display: grid;
  width: 800px;
  height: 600px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"common   common    common   header header"
                      "common   common    common   move1 move1"
                      "common   common    common   move2 move2"
                      "assault  flag      armour    special   special"
                      "weapon   weapon    weapon   weapon weapon"
                      "weapon   weapon    weapon   weapon weapon";
}





/*----------------- GENERAL CSS ------------------*/

section {
    padding: 5px;
    border-style: solid;
}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
  justify-items: all;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.f-center {
  align-items: center;
  justify-content: center;
}


/*----------------- Text & Input styling -----------------*/

/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
  font-family: "serif;";
}

.charsheet h1{
  text-align: center;
  color: white;
}
.charsheet h2{
  text-align: center;
  color:  darkred;
}
.charsheet h3{
  text-align: center;
  color: black;
}

.charsheet h4{
  text-align: center;
  color: black;
}

.charsheet h5{
  text-align: center;
  color: darkred;
}



/*------------- Section-specific CSS -------------*/


.header {
  grid-area: header;
  flex-direction: center;
  border-style: none;
}

.header h3 {
  text-align: center;
  color: white;
}



.common {
    grid-area: common;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
.common > img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
}



.toggle:not([value="Vehicle"],[value="Infantry"],[value="Towed"]) ~ .armourdisplay {
  display:  none;
}
.toggle:not([value="Helicopter"]) ~ .helicopterdisplay {
  display: none;
}

.flag {
    grid-area: flag;
    display: flex;
    justify-content: center;
    align-items: center;
  border-style: none;

  }
  
.flag > img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
}



.armour {
  grid-area: armour;    
  flex-direction: center;
  background-color: white;
}

.armourinfo h3 {
  color: darkred;
}





.special {
  grid-area: special;
  flex-direction: center;
  background-color: white;
}
.specialinfo h3 {
  color: darkred;
}



.assault {
  grid-area: assault;
  background-color: white;
}

.assaultinfo h3{
  color: darkred;
}


.weapon {
  grid-area: weapon;
  background-color:  white;
}


.togglemove:not([value="Other"]) ~ .movement,
.togglemove:not([value="Aircraft"]) ~ .airmove {
    display: none;
}

.move1 {
  grid-area: move1;
  background-color:  white;
  align-items: center;
}

.move2 {
  grid-area: move2;
  background-color:  white;
  align-items: center;
}


.movementnotes {
    grid-area: moveinfo;
    background-color: white;
    text-align: center;
}

.movepoints h3 {
  color: darkred;
}



.special {
  grid-area: special;
  background-color: white;
}




.info{
  grid-area: info;
  display: grid;
  grid-gap: 2px;
  background-color: white;
  text-align: center;
}

.weaponinfo{
  grid-area: weaponinfo;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  background-color: white;
  text-align: center;
  align-items: center;
}



input[type="hidden"][value="Off"].weapon1-status ~ .weapon1{
  display: none;
}

.weapon1 {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1;
  background-color: white;
  text-align: center;
  align-items: center;
  padding: 3px;
}


input[type="hidden"][value="Off"].weapon2-status ~ .weapon2{
  display: none;
}

.weapon2 {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1;
  background-color: white;
  text-align: center;
  align-items: center;
  padding: 3px;
}


input[type="hidden"][value="Off"].weapon3-status ~ .weapon3{
  display: none;
}

.weapon3 {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1;
  background-color: white;
  text-align: center;
  align-items: center;
  padding: 3px;
}

.movementnotes h4{
  color: darkred;
}

.weapon1 h4{
  color: darkred;
}
.weapon2 h4{
  color: darkred;
}
.weapon3 h4{
  color: darkred;
}